<div class="cv-container">
  <!-- Photo de profil -->
  <div class="profile-photo">
    <img src="assets/picture/Seasons.jpg" alt="Jordan Prevot">
  </div>

  <!-- Informations personnelles -->
  <div class="personal-info">
    <div class="titre-info">
      <h1>Jordan Prevot</h1>
      <h2>Développeur Full Stack</h2>
    </div>

    <div class="intro">
      <p>Issu d'un parcours R&D en Physique-Chimie, j'ai eu le plaisir de me reconvertir et d'écrire mes premières
        lignes de codes en 2022.
        Passionné par les sciences et le numérique, j'aime apprendre, comprendre et résoudre des problématiques
        complexes. Polyvalent et rigoureux, je possède d'excellentes compétences relationnelles et j’apprécie le
        challenge.</p>
    </div>

    <!-- Phrase d'accroche -->
    <blockquote>"La science, c’est essayer de rendre l’impossible possible"</blockquote>

    <!-- Liens -->
    <div class="links">
      <a href="assets/CV_Jordan_PREVOT.pdf" download>📄 Télécharger mon CV</a>
      <a href="https://www.linkedin.com/in/jordan-prevot" target="_blank">🔗 LinkedIn</a>
    </div>
  </div>
</div>
