.cv-container {
  display: flex;
  background: white;
  padding: 20px;
  align-items: center;
  position: relative;
  margin: 0px auto 0; // Ajuste sous la nav
  width: 95vw; // Prend toute la largeur de l'écran
  max-width: 100%; // Évite toute restriction inutile
}

.titre-info {
  gap: 10px;
}

.profile-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 250px; // Augmenté
    height: 320px; // Plus haut
    object-fit: cover;
    border-radius: 8px; // Légèrement arrondi pour un look moderne
    border: 4px solid #333;
  }
}

.personal-info {
  flex: 2;
  padding-left: 20px; // Plus d'espace avec la photo

  h1 {
    margin: 0;
    color: #333;
    font-size: 2.1rem;
  }

  h2 {
    margin-top: 5px;
    color: #777;
    font-size: 1.6rem;
    //margin: 5px 0 20px;
  }

  .intro {
    margin-top: 15px;
    color: #555;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .info-list {
    margin-top: 15px;
    font-size: 1rem;
    color: #444;

    p {
      margin: 8px 0;
    }
  }

  blockquote {
    font-style: italic;
    color: #666;
    margin: 20px 0;
    padding-left: 12px;
    border-left: 4px solid #777;
    font-size: 1.1rem;
  }

  .links {
    margin-top: 25px;
    display: flex;
    gap: 15px;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
