<div class="timeline-container">
  <div class="timeline-bar"></div>
  <div class="timeline">
    @for (formation of formations; track formation.date; let i = $index) {
      <div class="timeline-item">
        <div
          class="timeline-date"
          [class.selected]="selectedIndex === i"
          (click)="scrollToFormation(i)"
        >
          {{ formation.date }}
        </div>
      </div>
    }
  </div>

  <!-- Conteneur scrollable -->
  <div class="timeline-popup-container">
    <div
      class="timeline-content-wrapper"
      (scroll)="onScroll($event)"
      #scrollContainer
    >
      @for (formation of formations; track formation.titre; let i = $index) {
        <div class="timeline-content">
          <h3>{{ formation.titre }}</h3>
          <p class="card-universite">
            <mat-icon>school</mat-icon>
            <span [innerHTML]="formation.universite"></span>
          </p>
          <p class="card-description">{{ formation.description }}</p>
          <div class="card-competences">
            <mat-icon>psychology</mat-icon>
            <span>{{ formation.competences }}</span>
          </div>
        </div>
      }
    </div>
    <div class="scroll-indicator">
      @for (formation of formations; track formation.date; let i = $index) {
        <span
          [class.active]="selectedIndex === i"
          (click)="scrollToFormation(i)"
        ></span>
      }
    </div>
  </div>
</div>
