.competences-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 20px;
  @media (max-width: 1290px) {
    height: 70vh;
  }
}

.competences-section {
  position: fixed;
  top: 80px;
  height: 100vh;
  width: 38.7%; // Taille réduite en état normal
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; // Ajoute un effet interactif

  h2 {
    text-orientation: mixed;
    font-size: 1.3rem;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
  }

  .skills-list {
    display: none;
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    align-items: center;
  }

  .skills-list-soft {
    display: none;
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    align-items: center;
  }

  .skills-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: 1290px) {
      padding-top: 5px;
    }
  }

  .skills-wrapper-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    @media (max-width: 1290px) {
      font-size: 0.7rem;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .skills-wrapper-title::after,
  .skills-wrapper-title::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #194210;
    margin-bottom: 10px;
    margin-top: 10px;
    @media (max-width: 1290px) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .skill {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Aligne verticalement */
    justify-content: space-between; /* Espace entre le texte et la barre */
    width: 100%;
    gap: 10px; /* Ajoute un petit espace entre le texte et la barre */

    span {
      flex: 1; /* Prend toute la place dispo à gauche */
      text-align: left; /* Alignement du texte à gauche */
      font-size: 1rem;
      white-space: nowrap; /* Évite le retour à la ligne */
      padding-bottom: 10px;
      padding-top: 10px;

      @media (max-width: 1290px) {
        font-size: 0.7rem;
        padding-bottom: 3px;
        padding-top: 3px;
      }
    }

    .progress-bar {
      width: 100%;
      height: 12px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      max-width: 80%;

      @media (max-width: 1290px) {
        height: 6px;
      }

      .progress-fill {
        height: 100%;
        background: #4caf50;
        transition: width 0.3s ease-in-out;
        position: relative;

        &:hover {
          background: #194210;
        }
      }

    }
  }

  &:hover {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  &.active {
    width: 85%;

    .skills-list {
      display: block;
    }


    .skills-list-soft {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    h2 {
      opacity: 0;
    }
  }

  &.inactive {
    width: 10%;
    opacity: 0.6;

    &:hover {
      animation: jump 1s ease-in-out infinite;
    }

    @keyframes jump {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

}

.soft-skills {
  left: 10px;
}

.hard-skills {
  right: 10px;
}
